:root {
  --primary-color: #6b0909;
}
body{
  background-image: url(../public/background.png);
  background-size: cover;
}

.App{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Input container */
.inputCont h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.inputCont div {
  display: flex;
  margin-bottom: 2rem;
}
.inputCont input {
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0;
  text-indent: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.inputCont input::placeholder {
  font-size: 0.9rem;
}
.inputCont button {
  padding: 0 1rem;
  height: 3rem;
  font-size: 0.8rem;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}

/* Result */
.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.result p {
  color: #fff;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}
.result button {
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  background: rgb(71, 52, 213);
  border: none;
}
.result button.copied {
  background: #fff;
  color: var(--primary-color);
}
.noData {
  color: #fff;
  font-size: 1rem;
}

